@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #040d12;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;

  @include mobile {
    font-size: 22px;
  }
}

.body {
  height: 90vh;
  display: flex;
  flex-direction: column;

  .editors {
    flex: 1;
    border-bottom: 1px solid #2c303a;
    padding-left: 8px;
    display: flex;
    gap: 10px;
    background-color: #040d12;

    .box {
      border: 1px solid #2c303a;
      background-color: black;
      overflow: hidden;
      height: 275px;
      width: 500px;

      span {
        font-weight: bold;
        padding: 5px;
        color: #aaaebc;
      }
      textarea {
        resize: none;
        border: none;
        outline: none;
        color: white;
        cursor: text;
        background-color: #2c303a;
        padding: 5px;
        width: 500px;
        height: 250px;

        @include mobile {
          font-size: 10px;
        }
      }
    }
  }
  .output-box {
    display: flex;
    align-items: center;
    flex: 1;

    iframe {
      height: 100%;
      border: none;
      outline: none;
      width: 100%;

      @include mobile {
        height: 50vh;
      }
    }
  }
}
